
#answers {
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    height: calc(100vh - 200px);
    margin: 0 200px;
  }

  @media only screen and (min-width:481px) and (max-width: 768px) {
    #answers {
      margin: 0 100px;
    }
  }

  @media only screen and (max-width: 480px) {
    #answers {
      margin: 0 50px;
    }
  }
