nav {
    background-color: black;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 5px;
}

nav a:hover {
    text-decoration: underline;
    color: white;
}

#logoutBtn {
    background-color: transparent;
    color: white;
    font-weight: normal;
    font-size: medium;
}

#logoutBtn:hover {
    text-decoration: underline;
    color: white;
}