* {
  margin: 0;
}

.App {
  text-align: center;
  background-color: #10162F;
  height: 100vh;
  color: white;
  
}

#question {
  text-align: center;
  background-color: #10162F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: calc(100vh - 100px);
}


