* {
  margin: 0;
}

.App {
  background-color: #10162F;
  height: 100vh;
  color: white;
  
}

#question {
  background-color: #10162F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100px;
  margin-left: 200px;
}


