* {
  margin: 0;
}

.App {
  background-color: #10162F;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#loading {
  margin: auto;
}

button {
  cursor: pointer;
  background-color: #FFD300;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
  font-weight: bold;
}

button a {
  color: black;
  text-decoration: none;
}



