.question {
    background-color: #10162F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    color: white;
    margin: 20px 200px;
    text-align: justify;
  }

  #questionList {
    text-align: center;
  }

  .questionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .questionControls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
  }

  @media only screen and (min-width:481px) and (max-width: 768px) {
    #question {
      text-align: left;
      margin-left: 0;
    }

    .question {
      margin: 15px;
    }
  }

  @media only screen and (max-width: 480px) {
    #question {
        text-align: center;
        margin-left: 0;
    }

    .question {
      margin: 15px;
    }
  }