footer {
    background-color: #15141F;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#emptyProgress {
    flex: 1 1;
}

footer p {
    flex: 2 1;
    text-align: center;
}

#buttonContainer {
    flex: 1 1;
    text-align: right;
}

footer button {
    cursor: pointer;
    background-color: #FFD300;
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
    margin-right: 30px;
    font-weight: bold;
}